[submodule "lib/falso_jni"]
	path = lib/falso_jni
	url = git@github.com:v-atamanenko/FalsoJNI.git
	branch = master
[submodule "lib/vitaGL"]
	path = lib/vitaGL
	url = https://github.com/Rinnegatamante/vitaGL.git
[submodule "lib/libvorbis"]
	path = lib/libvorbis
	url = https://github.com/Nevak/vorbis-vita.git
	branch = rulas
